[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
ipdb = "*"
autopep8 = "*"
flake8 = "*"
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
docker-compose = "*"
jinja2 = "*"
aiofiles = "*"
pylint = "*"
sqlalchemy = "*"
alembic = "*"
faker = "*"
passlib = {extras = ["bcrypt"],version = "*"}
pyjwt = "*"
python-multipart = "*"
gunicorn = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
